.header-image {
    background: url("https://images.unsplash.com/photo-1464014449614-e470468e3ec1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
    background-size:  cover !important;
    background-position: center center !important;

}


#landingTitle {
    font-size: 4rem;
    font-weight: 600 !important;
    font-family: 'Montserrat', sans-serif; 
    text-align: center;
}

#landingSubtitle {
    font-size: 1rem;
    font-weight: 100 !important;
    font-family: 'Montserrat', sans-serif; 
    text-align: center;
    margin-top: 20px;
}


#border {
    margin: auto;
    margin-top: -110px;
    align-items: center;
    width: 300px;
    height: 100px;
    border: 5px solid rgb(221, 159, 44);
}


#aboutHero {
    background-color: rgb(31, 37, 34);
}

#desktopIcon {
    font-size: 70px;
}

#webTitle {
    font-size: 40px;
    font-weight: 600 !important;
    text-align: center;
    font-family: 'Montserrat', sans-serif; 
    color: rgb(221, 159, 44) !important;  
    margin-top: -20px;

}

#webSubtitle {
    font-size: 1rem;
    font-weight: 100 !important;
    font-family: 'Montserrat', sans-serif; 
    text-align: center;
    margin: auto;
    width: 300px;
}

#projectsTitle {
    font-size: 4rem;
    font-weight: 600 !important;
    text-align: center;
    font-family: 'Montserrat', sans-serif; 
    color: rgb(221, 159, 44) !important;  
    margin-top: -20px;

}

#webServicesTitle {
    font-size: 4rem;
    font-weight: 600 !important;
    text-align: center;
    font-family: 'Montserrat', sans-serif; 
    color: rgb(221, 159, 44) !important;  
    margin-top: -20px;
}

#aboutBorder {
    position: relative;
    margin: auto;
    width: 100px;
    height: 150px;
    border: 5px solid rgb(221, 159, 44);
}

#portfolioImage {
    position: relative; 
    align-content: center;
    margin: auto;
    margin-bottom: 50px;
}

p {
    margin-top: 10px;
}

#projectsHero {
    background-color: rgb(0, 0, 0);

}

#webServicesHero {
    background-color: rgb(31, 37, 34);

}

.card {
    background-color: transparent !important;
    border: none;
    box-shadow: none;
}

.card-header-title {
    color: white;
    border: none;
}

.card-footer-item {
    color: rgb(221, 159, 44);
}

.serviceIcon {
    color: white;
    font-size: 30px;
}

#contactHero {
    background-color: rgb(31, 37, 34);
}

#contactTitle {
    font-size: 4rem;
    font-weight: 600 !important;
    text-align: center;
    font-family: 'Montserrat', sans-serif; 
    color: rgb(221, 159, 44) !important;  
}

.contactIcon {
    color: white;
    font-size: 40px;
    margin-bottom: 50px;
}

.mobileContactIcon {
    color: white;
    font-size: 40px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.footer {
    background-color: black;
    height: 200px;
    width: 100%;
}

.footerIcons {
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin: 10px;
    
}

address {
    font-style: normal;
    color: rgb(168, 168, 168);
}

#emailFooter {
    color: white;
}

#emailFooter:hover {
    opacity: 50%;
}


.animate__animated.animate__fadeIn {
    --animate-duration: 2s;
  }

  .hoverCards {
    margin:20px;
    padding: 3px;
    float: center;
      -webkit-transition: margin 0.5s ease-out;
      -moz-transition: margin 0.5s ease-out;
      -o-transition: margin 0.5s ease-out;
  }
  
  .hoverCards:hover {
      cursor:pointer;
      margin-top: 5px;
  }

